<!DOCTYPE html>
<html>
<head>
    <script>
        window.addEventListener("load", function(){
            const img = document.getElementById("mainimg");
            for(let x=0; x<{{wn}}; x++){
                for(let y=0; y<{{hn}}; y++){
                    let area_id = `imgmap_${x}_${y}`;
                    let i = {{wn}} * y + x;
                    let im = String(i).padStart(4, '0');
                    document.getElementById(area_id).addEventListener(
                        "mouseenter", function() {
                            img.src = `images/${im}`;
                        }
                    );
                }
            }
        });
    </script>
</head>
<body>
    <img id="mainimg" src="images/{{img}}" width="{{w}}" height="{{h}}" usemap="#imgmap" />

    <!-- create a grid over the image -->
    <map name="imgmap">
        {% set bbox_x = (w / wn) | int %}
        {% set bbox_y = (h / hn) | int %}
        {% for x in range(wn) %}
            {% for y in range(hn) %}
                {% set x0 = x * bbox_x %}
                {% set y0 = y * bbox_y %}
                {% set x1 = x0 + bbox_x %}
                {% set y1 = y0 + bbox_y %}
                <area
                    id="imgmap_{{x}}_{{y}}"
                    shape="rect"
                    coords="{{x0}},{{y0}},{{x1}},{{y1}}"
                />
            {% endfor %}
        {% endfor %}
    </map>
</body>
</html>